<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- === Настройки подключения к БД === -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://localhost:5432/user_test</property>
        <property name="connection.username">postgres</property>
        <property name="connection.password">postgres</property>

        <!-- === Настройки пула соединений === -->
        <property name="connection.pool_size">1</property>

        <!-- === Диалект SQL === -->
        <property name="dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>

        <!-- === Показывать SQL в консоли=== -->
        <property name="show_sql">false</property>
        <property name="format_sql">false</property>

        <!-- === Стратегия создания таблиц === -->
        <property name="hbm2ddl.auto">update</property>

        <!-- === Управление транзакциями === -->
        <property name="current_session_context_class">thread</property>

        <!-- === Entity классы === -->
        <mapping class="org.example.entity.User"/>

    </session-factory>
</hibernate-configuration>